/*header*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    padding: 25px 0;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 50px;
    list-style: none;
}



nav ul li a {
    text-decoration: none;
    color: #0D6577;
    font-weight: bold;
}



.sign-in-btn {
    background-color: #056277;
    color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.sign-in-btn:hover {
    background-color: #03434f;
}


/* Add this to your CSS file */
.user-options {
    position: relative;
    display: inline-block;
}

.user-profile {
    cursor: pointer;
  
 
    background-size: cover; /* Ensures the image covers the whole div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.user-profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}


.dropdown {
    display: none; /* Initially hidden */
    position: absolute;
    top: 45x; /* Position below the profile picture */
    right: 0;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px; /* Adjust as needed */
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.dropdown li a:hover {
    background-color: #f1f1f1;
}



/*header*/

/*home*/
.home-container {
    width: 95%;
    margin: 0 auto;
}

/* image */
.banner{
    width: 100%;
    height: 80vh;
    /* background-image: url('../images/banner.jpg'); */
    
   
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-content {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: white; 
    padding: 20px; 
    font-size: 80px;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.595);
    line-height: 1;
}




.package h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top:50px ;
}

.package-container {
    display: flex;
    overflow: hidden; /* Hides the overflow content */
    position: relative;
}

.package-card {
    flex: 0 0 25%; /* Adjust this to control how many cards are visible at once */
    position: relative;
    margin: 0 10px;
    overflow: hidden; /* Hide any content overflow */
    transition: transform 0.3s ease;
}

.package-image {
    position: relative;
}

.package-card img {
    width: 100%;
    display: block;
    transition: opacity 0.3s ease;
}

.package-card:hover img {
    opacity: 0.7; /* Adjust to control the fade on hover */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust for overlay color */
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.package-card:hover .overlay {
    opacity: 1;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}


/*home*/

/*login*/
.signin-container {
    width: 70%;
    display: flex;
    height: 90%;
    margin: 18px auto;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.1);
}

.left-column {
    background-image: url('../images/login.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.left-column::after{
    content: '';
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.left-column h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 1;
}

.left-column p{
   
    z-index: 1;
}

.right-column {
    flex: 1;
    align-items: center;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-column h2 {
    font-size: 3.5rem;
    text-align: center;
}

h1, h2 {
    margin-bottom: 0.5rem;
}

form {
    margin-top: 2rem;
    width: 70%;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    background-color: #0099cc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
}

.forgot-password, .register-link {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
/*login*/

/*profile*/
.profile-container {
    width: 70%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-picture-section {
    flex: 1;
    text-align: center;
}

.profile-picture-section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.profile-details-section {
    flex: 1;
}

.profile-pic-large {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}


/*profile*/
